body {
  font-family: Arial, sans-serif;
  margin: 0;
  scroll-behavior: smooth;
}
.logo img {
  width: 150px;
  height: auto;
  padding-left: 55px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}
header nav {
  display: flex;
  gap: 10px;
  padding-right: 30px;
  flex-wrap: wrap;
}
header nav a {
  text-decoration: none;
  color: black;
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 18px;
}
header nav a.active {
  border: 1px solid #3b82f6;
  background-color: #3b82f6;
  color: white;
}
header nav a:hover {
  border: 1px solid #3b82f6;
  background-color: #3b82f6;
  color: white;
}
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  padding-right: 50px;
  transition: transform 0.3s ease;
}
.hamburger span {
  width: 25px;
  height: 3px;
  background-color: black;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.hamburger.open span:nth-child(2) {
  opacity: 0;
}
.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
.mobile-nav {
  display: none;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  position: absolute;
  top: 70px;
  right: 15px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 150px;
  transition: all 0.3s ease;
}
.mobile-nav a {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  color: black;
  text-decoration: none;
}
.mobile-nav a.active {
  border: 1px solid #3b82f6;
  background-color: #3b82f6;
  color: white;
}
.mobile-nav a:hover {
  border: 1px solid #3b82f6;
  background-color: #3b82f6;
  color: white;
}

@media (max-width: 768px) {
  header nav {
    display: none;
  }
  .hamburger {
    display: flex;
  }
  header nav a {
    font-size: 14px;
  }
}
@media (min-width: 769px) {
  .mobile-nav {
    display: none !important;
  }
}
section {
  padding: 0;
  margin-top: 70px;
}
section iframe {
  width: 100%;
  border: none;
}
footer {
  text-align: center;
  padding: 20px;
  background-color: white;
  margin-top: 10px;
}
